/* 
    来自 blue theme 有改动 https://github.com/SiriusXT/trilium-theme-blue
    Moded from https://github.com/SiriusXT/trilium-theme-blue by Nriver

    thanks to SiriusXT
    mod by Nriver
*/

/*
    浅色主题用这些 
    uncomment these for light theme
*/
/*
body{   
   --h2-background-color:rgb(105 154 187);
   --h3-background-color:rgb(112 175 164);
   --h4-background-color:rgb(215 187 162);
   --h5-background-color:rgb(190 186 206);
   --h6-background-color:rgb(197 197 197);    
}
*/

/*
    深色主题用这些
    uncomment these for dark theme
*/
body{   
   --h2-background-color: seagreen; /* 深绿色 */
   --h3-background-color: sandybrown; /* 浅棕色 */
   --h4-background-color: tomato; /* 浅红色 */
   --h5-background-color: slateblue; /* 浅蓝色 */
   --h6-background-color: black; /* 深黑色 */
}


div.component.note-split.type-text h1 {
  padding-left: 0.4em;
  border-left: 9px solid rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

div.component.note-split.type-text h2:not(div.note-list-widget h2) {
  background: var(--h2-background-color);
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 0 1px var(--h2-background-color), 1px 1px 6px 1px var(--h2-background-color);
  color: #FFFFFF;
  padding: 5px 0 4px 10px;
  text-shadow: 2px 2px 3px #222222;
}

div.component.note-split.type-text h3:not(div.note-list-widget h3) {
  background: var(--h3-background-color);
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 0 1px var(--h3-background-color), 1px 1px 6px 1px var(--h3-background-color);
  color: #FFFFFF;
  padding: 4px 0 3px 10px;
  text-shadow: 2px 2px 3px #222222;
}

div.component.note-split.type-text h4:not(div.note-list-widget h4){
  background: var(--h4-background-color);
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 0 1px var(--h4-background-color), 1px 1px 6px 1px var(--h4-background-color);
  color: #FFFFFF;
  padding: 3px 0 2px 10px;
  text-shadow: 2px 2px 3px #222222;
}

div.component.note-split.type-text  h5:not(.note-book-header):not(div.note-list-widget h5){
  background: var(--h5-background-color);
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 0 1px var(--h5-background-color), 1px 1px 6px 1px var(--h5-background-color);
  color: #FFFFFF;
  padding: 2px 0 1px 10px;
  text-shadow: 2px 2px 3px #222222;
}
div.component.note-split.type-text h6:not(div.note-list-widget h6) {
  background: var(--h6-background-color);
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 0 1px var(--h6-background-color), 1px 1px 6px 1px var(--h6-background-color);
  color: #FFFFFF;
  padding: 1px 0 0px 10px;
  text-shadow: 2px 2px 3px #222222;
}




div.toc-widget span.toc>ol>li{
   color:var(--h2-background-color);
}
div.toc-widget span.toc>ol>ol>li{
   color:var(--h3-background-color);
}
div.toc-widget span.toc>ol>ol>ol>li{
   color:var(--h4-background-color);
}
div.toc-widget span.toc>ol>ol>ol>ol>li{
   color:var(--h5-background-color);
}
div.toc-widget span.toc>ol>ol>ol>ol>ol>li{
   color:var(--h6-background-color);
}
.toc ol{
   padding-left:15px;
}
